.pradax { box-sizing: border-box; float: left; height: 250px; padding: 10px; vertical-align: middle; width: 33.33%; }
.pradax .thumbnail { overflow: hidden; height: 200px; width: 100%; display: table-cell; vertical-align: middle; text-align: center; }
.pradax .thumbnail img { height: auto; position: relative; max-height: 85%; display: block; margin: 0 auto; }
.pradax .thumbnail a { float: left; height: 230px; position: relative; width: 100%; }
.pradax .thumbnail a span { display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.4); color: #e8e8e8; padding: 40px; text-align: center; }
.pradax .thumbnail a span h1 { font-size: 1.5rem; margin: 0; }
.pradax .thumbnail a span p { color: #e8e8e8; }
.pradax .thumbnail a:hover span { display: block; }